body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.upload-section {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    margin: 20px 0;
    border-radius: 8px;
}

.custom-file-upload {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    color: #072FD0;
}

input[type="file"] {
    display: none;
}

.form-group {
    margin: 15px 0;
}

label {
    display: block;
    margin-bottom: 5px;
}

select, input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    background-color: #072FD0;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0727a8;
}

#results {
    margin-top: 20px;
    text-align: center;
}

#drop-area {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    margin: 20px 0;
    border-radius: 8px;
    position: relative;
}

#drop-area.hover {
    border-color: #6a0dad; /* Change border color on hover */
    background-color: #f9f9f9; /* Light background on hover */
}

#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%; /* Ensure the video covers the entire width */
    min-height: 100%; /* Ensure the video covers the entire height */
    z-index: -1; /* Send the video to the background */
    object-fit: cover; /* Maintain aspect ratio and cover the entire background */
}